h4{
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
}

stamp{
    color:rgb(70, 113, 141);
    font-size: large;
    border: 4px, rgb(70, 113, 141), solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    margin-right: 20px;    
}

h1{
    padding-top: 20px;
    font-size: 2em;
    font-weight: 600;
}

a{
    color: blue;
}

text{
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 20px;
}

header{
    margin-bottom: 20px;
    margin-top: 20px;
}

.pageHeader{
    background-color: #edfafe;
}
